mixin scripts
  script(src='assets/js/misc/jquery.js', type='text/javascript')
  script(src='assets/js/misc/tools.js', type='text/javascript')
  script(src='assets/js/data.js', type='text/javascript')
  script(src='assets/js/functions.js', type='text/javascript')
  
mixin keys
  .keys
    .row-1
      form.q.key.dropzone(action="/file-upload" class="dropzone" id="my-awesome-dropzone")
        p Q
      .w.key
        p W
      .e.key
        p E
      .r.key
        p R
      .t.key
        p T
      .y.key
        p Y
      .u.key
        p U
      .i.key
        p I
      .o.key
        p O
      .p.key
        p P
        
    .row-2
      .a.key
        p A
      .s.key
        p S
      .d.key
        p D
      .f.key
        p F
      .g.key
        p G
      .h.key
        p H
      .j.key
        p J
      .k.key
        p K
      .l.key
        p L
        
    .row-3
      .z.key
        p Z
      .x.key
        p X
      .c.key
        p C
      .v.key
        p V
      .b.key
        p B
      .n.key
        p N
      .m.key
        p M
      
